.all {
  display: flex;
  tex-align: center;
}

.box {
  margin: 10vh auto;
  padding: 3vh 0;
  width: 60%;
  background-color: rgba(255, 254, 245, 1);
  height: auto;
  text-align: center;
  border-radius: 1%;

  border: dashed 0.5vh rgba(138, 121, 98, 1);
  box-shadow: 0 0 0 1vh rgba(250, 248, 242, 1), 0 0 0 2vh rgba(138, 121, 98, 1);
  border-radius: 1vh;
}

/* 入力項目 */
.tableCovered {
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
  flex-direction: column; /* 縦方向に並べる */
  height: auto;
}

table {
  width: 85%;
  border-collapse: collapse;
  border-spacing: 0 6vh; /* 行間幅 */
  border-top: 1px solid rgb(149, 149, 149);
  margin-bottom: 6%;
}

.tr {
  height: 10vh; /* 行の高さ */
}

.td {
  width: 100%;
  border-bottom: 1px solid rgb(180, 180, 180);
  text-align: left;
  border-right: none; /* 最後の列の縦線を非表示*/
}

.th {
  border-bottom: 1px solid rgb(180, 180, 180);
  text-align: left;
  border-right: none; /* 最後の列の縦線を非表示*/
  width: 50%;
}

.allContents {
  height: 100%;
  padding: 5%;
}

.imgSide {
  display: flex;
  height: 18.5vh;
  border-bottom: 1px solid rgb(180, 180, 180);
}

.faileCenter {
  display: flex;
  align-items: center;
}

.span {
  color: red; /*必須文字*/
}

/* 未入力時に背景色を変更 */
.errorInput {
  background-color: rgb(243, 187, 187);
}

.icon {
  width: 100px;
  height: 100px;
  border-radius: 50%; /*サムネイル円型*/
  margin-left: auto;
  margin-right: auto;
}

.table {
  width: 85%;
  border-collapse: collapse;
  border-spacing: 0 6vh; /* 行間幅 */
  border-top: 1px solid rgb(149, 149, 149);
  margin-bottom: 6%;
}

.th {
  border-bottom: 1px solid rgb(180, 180, 180);
  text-align: left;
}
.td {
  border-bottom: 1px solid rgb(180, 180, 180);
  text-align: left;
}

.th:last-child {
  border-right: none; /* 最後の列の縦線を非表示*/
}
.td:last-child {
  border-right: none; /* 最後の列の縦線を非表示*/
}

.tr {
  height: 10vh; /* 行の高さ */
}

.td {
  width: 100%;
  padding: 4vh 0;
}

.th {
  width: 50%;
}

.btn {
  padding: 0.3vh 1.5vh;
  border: none;
  border-radius: 2vh;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  margin-bottom: 1vh;
  margin-left: 1vh;
  background-color: rgba(194, 137, 66, 1);
  color: white;
}

.btn:disabled {
  background-color: rgba(209, 208, 206, 1);
  color: white;
}
