.box {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(0, 163, 0);
  padding: 1%;
  height: 800px;
  width: 80vw;
  max-width: 1080px;
}

.board {
  position: absolute;
  top: 50%;
  left: 32%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding-right: 3%;
  padding-left: 3%;
  padding-bottom: 4%;
  border-radius: 1%;
  width: 300px;
  height: 200px;
}

.boardTitle {
  margin-top: 20%;
}

.imgCovered {
  position: relative;
  height: 50vh;
  width: 100%;
  margin-bottom: 1%;
}

.img {
  width: 100%;
  height: 55vh;
}

.button {
  position: absolute;
  top: 80%;
  left: 73%;
  transform: translate(-50%, -50%);
}

.inputA {
  margin-top: 10%;
  margin-bottom: 10%;
  border: 2px solid #3aeb26;
  width: 100%;
}

.inputA:focus {
  outline: rgb(101, 240, 97) 2px solid;
  box-shadow: 0 0 10px 0 #66a342;
  border: 3px solid #fef6fb;
  transition: left 0.2s ease, top 0.2s ease;
}

.inputB {
  border: 2px solid #3aeb26;
  width: 100%;
}

.inputB:focus {
  outline: rgb(101, 240, 97) 2px solid;
  box-shadow: 0 0 10px 0 #66a342;
  border: 3px solid #fef6fb;
}

.link {
  color: red;
}
