.background {
  padding-bottom: 0;
  padding: 4% 2%;
}

.box {
  background-color: rgba(255, 254, 245, 1);
  padding-top: 1%;
  height: 80%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border-radius: 1%;
  padding-bottom: 3%;
  width: 85%;

  border: dashed 0.5vh rgba(209, 190, 79, 1);
  box-shadow: 0 0 0 1vh rgba(250, 248, 242, 1), 0 0 0 2vh rgba(209, 190, 79, 1);
  border-radius: 1vh;
}

.editbox {
  display: flex;
  justify-content: space-between;
}

.tableCovered {
  display: flex;
  flex-direction: column; /* 縦方向に並べる */
  height: auto;
  width: 65%;
}

.right {
  width: 34%;
  display: inline-grid;
  margin-right: 1%;
}

.joinBox {
  font-weight: bold;
}
.joinList {
  display: flex;
  flex-direction: column;
}

.unsub {
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}

.icon {
  height: 100px;
  width: 100px;
  border-radius: 50%; /*サムネイル円型*/
}

.span {
  color: red; /*必須文字*/
}

/* 未入力時に背景色を変更 */
.error {
  color: red;
}

/*　各入力項目 */
.address {
  width: 95%;
  height: 3vh;
}

.table {
  width: 95%;
  border-collapse: collapse;
  border-spacing: 0 6vh; /* 行間幅 */
  border-top: 1px solid rgb(149, 149, 149);
  margin-bottom: 6%;
}

.th,
.td {
  border-bottom: 1px solid rgb(180, 180, 180);
  text-align: left;
}

.th:last-child,
.td:last-child {
  border-right: none; /* 最後の列の縦線を非表示*/
}

.tr {
  height: 13vh; /* 行の高さ */
  width: 90%;
}

.td {
  width: 100%;
}

.th {
  width: 18%;
}

.buttonbox {
  align-self: flex-end;
  margin-bottom: 20%;
}

.inputA {
  height: 3vh;
  width: 46%;
}
.inputB {
  height: 3vh;
  width: 46%;
  margin-left: 2%;
}

.allContents {
  height: 100%;
  padding: 2%;
}

.faileCenter {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

/* コンボボックス */

.selectedValuesContainer {
  display: flex;
  flex-wrap: wrap;
}

.selectedValue {
  margin: 5px;
  padding: 5px;
  background-color: rgb(100, 207, 6);
}

.row {
  display: flex;
}

.nameFlex {
  display: flex;
  align-items: center;
}

.nowrap {
  white-space: nowrap;
}

.suggestionList {
  background-color: white;
  margin-bottom: 3%;
}

.li {
  list-style: none;
  margin-left: 2%;
  margin-right: 2%;
  padding: 2.5%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.li:hover {
  background-color: rgb(211, 211, 211);
  border-radius: 5%;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputContainer ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.addButton {
  height: 7vh;
  width: 22vh;
  border-radius: 3vh;
  margin-top: 15px;
  font-weight: bold;
  color: rgba(94, 70, 44, 1);
  border: 3px solid rgba(255, 182, 112, 1);
  box-shadow: 0.7vh 0.7vh rgba(255, 182, 112, 1);
  transition: 0.3s ease-in-out;
  background-color: white;
}

.addButton:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
  color: rgba(94, 70, 44, 0.6);
}

.addButton:disabled {
  color: rgba(212, 212, 212, 1);
  border: 3px solid rgba(212, 212, 212, 1);
  box-shadow: 0.7vh 0.7vh rgba(212, 212, 212, 1);
  height: 7vh;
  width: 22vh;
  border-radius: 3vh;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  background-color: white;
  margin-top: 2vh;
}

.noEdit {
  color: rgba(94, 70, 44, 1);
  background-color: white;
  border: 3px solid #27acd9;
  box-shadow: 0.7vh 0.7vh #27acd9;
  height: 7vh;
  width: 22vh;
  border-radius: 3vh;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}

.noEdit:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
}

.unsubButton {
  margin-top: 15px;
  font-weight: bold;
  height: 7vh;
  width: 22vh;
  border-radius: 3vh;
  color: white;
  border: 3px solid gray;
  transition: 0.3s ease-in-out;
  background-color: gray;
}
.unsubButton:hover {
  background-color: white;
  color: gray;
}

.buttonSide {
  display: flex;
}

/* addTag.tsx */
.tagInputs {
  display: flex;
  flex-direction: column;
}

.radio {
  width: 200px;
}

/* 未入力時に背景色を変更 */
.errorInputTg {
  background-color: rgb(247, 177, 140);
}

.radio {
  display: flex;
}

.loginPageButton {
  text-align: left;
  margin-left: 3%;
}

.link {
  color: rgba(146, 144, 141, 1);
  text-decoration: none;
  margin: 1%;
}

.label {
  width: 7.5vh;
}
