.overlay {
  z-index: 1; /* 重ねた時の順番 */

  /* 画面全体を覆う */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  /* 画面の中央に要素を表示 */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modal {
  z-index: 2;
  width: 88vh;
  padding: 1em;
  background: #fff;
  text-align: center;
  height: 49vh;
  position: relative;
}
.messageName {
  margin-top: 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 5vh;
}

.allContents {
  height: 70vh;
  width: 72vh;
  display: inline-block;
}

.main {
  height: 7vh;
  margin-top: 19vh;
}

.title {
  margin: auto;
}

.h3 {
  margin-bottom: 0;
}

.p {
  margin-top: 0;
}

.textSending {
  outline: solid 0.3vh rgba(209, 227, 172, 1);
  width: 71vh;
  height: 16vh;
  padding: 2vh;
  border-radius: 3vh;
}
.name {
  margin-right: 2vh;
}

.btn {
  margin-top: 12vh;
  height: 7vh;
  width: 21vh;
  border-radius: 3vh;
  font-weight: bold;
  color: rgba(94, 70, 44, 1);
  border: 3px solid rgba(179, 209, 115, 1);
  box-shadow: 0.7vh 0.7vh rgba(179, 209, 115, 1);
  transition: 0.3s ease-in-out;
  background-color: white;
}
.btn2 {
  margin-top: 14vh;
  height: 7vh;
  width: 21vh;
  border-radius: 3vh;
  font-weight: bold;
  color: rgba(94, 70, 44, 1);
  border: 3px solid rgba(179, 209, 115, 1);
  box-shadow: 0.7vh 0.7vh rgba(179, 209, 115, 1);
  transition: 0.3s ease-in-out;
  background-color: white;
}

.btn:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
  color: rgba(94, 70, 44, 1);
}
.btn2:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
  color: rgba(94, 70, 44, 1);
}

.input {
  text-align: left;
}

.messageName {
  margin: auto;
}
