.overlay {
  z-index: 1; /* 重ねた時の順番 */

  /* 画面全体を覆う */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  /* 画面の中央に要素を表示 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  z-index: 2;
  width: 71vh;
  padding: 1em;
  background: #fff;
  text-align: center;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
  flex-direction: column; /* 縦方向に並べる */
  height: 43vh;
  position: relative;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 5vh;
}

.allContents {
  height: 43vh;
  justify-content: center; /* 水平方向 */
  align-items: center; /* 垂直方向 */
  flex-direction: column; /* 縦方向 */
  display: flex;
}

.input {
}

.main {
  height: 25vh;
  width: 83%;
}

.title {
  align-items: center; /* 垂直方向 */
  justify-content: center; /* 水平方向 */
  flex-direction: column; /* 縦方向 */
}

.h3 {
  margin-bottom: 0;
}

.p {
  margin-top: 0;
}

.text {
  outline: solid 0.3vh rgba(209, 227, 172, 1);
  width: 60vh;
}
.name {
  text-align: left;
}

.btn {
  margin-top: 1vh;
  height: 7vh;
  width: 21vh;
  border-radius: 3vh;
  font-weight: bold;
  color: rgba(94, 70, 44, 1);
  border: 3px solid rgba(179, 209, 115, 1);
  box-shadow: 0.7vh 0.7vh rgba(179, 209, 115, 1);
  transition: 0.3s ease-in-out;
  background-color: white;
}

.btn:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
  color: rgba(94, 70, 44, 1);
}
