.display {
  display: flex;
}
.main {
  max-width: 75%;
  margin: 5vh auto;
  padding: 3vh 0;
  height: 100%;
  text-align: center;
  background-color: rgba(255, 254, 245, 1);
  border: dashed 0.5vh rgba(138, 121, 98, 1);
  box-shadow: 0 0 0 1vh rgba(250, 248, 242, 1), 0 0 0 2vh rgba(138, 121, 98, 1);
  border-radius: 1vh;
}

/* Background styles */
.table {
  border-collapse: collapse;
  width: 111vh;
  border-bottom: solid 1px #eee;
}
.tbody {
}
.td {
  height: 12vh;
  padding-left: 8vh;
  background-color: rgba(255, 254, 245, 1);
  font-weight: bold;
  text-align: left;
  display: flex;
}
.td2 {
  width: 100%;
  height: 15%;

  background-color: rgba(255, 254, 245, 1);
}

.name {
  width: 36vh;
  margin: auto 0;
}

.icon {
  height: 8vh;
  width: 8vh;
  background-size: 35px;
  background-position: left 5px center;
  border-radius: 50%;
  margin: 0 5%;
  margin-top: 1vh;
}

.unsubBtn {
  margin-left: 14vh;
  height: 7vh;
  width: 25vh;
  border-radius: 3vh;
  color: rgba(94, 70, 44, 1);
  border: 3px solid #27acd9;
  box-shadow: 0.7vh 0.7vh #27acd9;
  transition: 0.3s ease-in-out;
  background-color: white;
  font-weight: bold;
}
.unsubBtn:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
}

.ownerBtn {
  font-weight: bold;

  height: 7vh;
  width: 28vh;
  border-radius: 3vh;
  color: rgba(94, 70, 44, 1);
  border: 3px solid #27acd9;
  box-shadow: 0.7vh 0.7vh #27acd9;
  transition: 0.3s ease-in-out;
  background-color: white;
}
.ownerBtn:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
}

.exileBtn {
  font-weight: bold;
  height: 7vh;
  width: 19vh;
  margin-left: 3vh;
  border-radius: 3vh;
  color: rgba(94, 70, 44, 1);
  border: 3px solid gray;
  box-shadow: 0.7vh 0.7vh gray;
  transition: 0.3s ease-in-out;
  background-color: white;
}
.exileBtn:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
}
