.menubar{
    background-color: green;
    width: 17%;
    height: 880px;
    text-align: center;
    flex-flow: column;  
    justify-content: space-between;  
}

.menuContents{
    justify-content: space-between;  
    
}
