.content {
  max-width: 70%;
  margin: 0 auto;
  padding: 15px 0
}

.thread {
  padding: 10px;
  width: 100%;
  height: 70px;
  border: 1px solid #333;
  text-align: center;
  cursor: pointer;
  margin-bottom: 15px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}
