.flex {
  display: flex;
}

.all {
  padding: 5%;
  width: 100%;
}

.eventAll {
  margin-top: 3%;
}

.event1 {
  background-color: rgb(75, 211, 68);
  margin-bottom: 3%;
  padding: 3%;
}

.button {
  margin-left: 80%;
}

.imgSide {
  display: flex;
}

.icon {
  width: 210px;
  height: 210px;
  border-radius: 50%; /*サムネイル円型*/
  margin-left: 3%;
  margin-right: 10%;
  margin-top: auto;
}

.eventName {
  margin-right: 5%;
  align-items: center; /* 垂直方向の中央揃え */
  white-space: nowrap;
}

.eventInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 9%;
}
