.islandPostBack {
}

.postMessageBack {
  background-color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.message {
  background-color: rgb(213, 213, 214);
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex {
  display: flex;
}

.flex img {
  width: 100px;
  margin: 0 0 0 30px;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.flex .right {
  margin: 0 0 0 50px;
  padding: 0;
}

.flex .username {
  font-weight: bold;
}

h1 {
  font-weight: bold;
}
