.all {
  display: flex;
  text-align: center;
}

.back {
  background-color: rgba(255, 254, 245, 1);
  margin-top: 2%;
  padding-top: 1%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border-radius: 1%;
  width: 65%;

  border: dashed 0.5vh rgba(138, 121, 98, 1);
  box-shadow: 0 0 0 1vh rgba(250, 248, 242, 1), 0 0 0 2vh rgba(138, 121, 98, 1);
  border-radius: 1vh;
}

.name {
  text-align: center;
  padding-top: 3vh;
  padding-bottom: 2vh;
}

.input {
  width: 75vh;
  border: solid 0.3vh rgba(138, 121, 98, 1);
  border-radius: 1vh;
}

.imgSide {
  display: flex;
  align-items: center;
  height: 19vh;
  border-bottom: 1px solid #b4b4b4;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.detail {
  width: 75vh;
  height: 17vh;
  font-size: 2.2vh;
  margin: 3vh 0;
  text-align: left;
  border: solid 0.3vh rgba(138, 121, 98, 1);
  border-radius: 1vh;
}

.islandName {
}

.detail {
  margin-top: 10px;
}

.icon {
  width: 17vh;
  height: 17vh;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1vh;
}

.tag {
  display: flex;
  margin-bottom: 10px;
}

.displaySide {
  display: flex;
}

.plus_btn {
  margin: 3vh;
}

.edit_btn {
  margin: 3vh;
  height: 7vh;
  width: 22vh;
  border-radius: 3vh;
  margin-top: 15px;
  font-weight: bold;
  color: rgba(94, 70, 44, 1);
  border: 3px solid rgba(255, 182, 112, 1);
  box-shadow: 0.7vh 0.7vh rgba(255, 182, 112, 1);
  transition: 0.3s ease-in-out;
  background-color: white;
}
.edit_btn:disabled {
  color: rgba(212, 212, 212, 1);
  border: 3px solid rgba(212, 212, 212, 1);
  box-shadow: 0.7vh 0.7vh rgba(212, 212, 212, 1);
  height: 7vh;
  width: 22vh;
  border-radius: 3vh;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  background-color: white;
  margin-top: 2vh;
}

.delete {
  text-align: right;
}

.delete_btn {
  margin: 3vh;
  margin-top: 15px;
  font-weight: bold;
  height: 7vh;
  width: 25vh;
  border-radius: 3vh;
  color: white;
  border: 3px solid gray;
  transition: 0.3s ease-in-out;
  background-color: gray;
}
.delete_btn:hover {
  background-color: white;
  color: gray;
}

.tableCovered {
  display: flex;
  justify-content: center; /* 水平方向の中央揃え */
  align-items: center; /* 垂直方向の中央揃え */
  flex-direction: column; /* 縦方向に並べる */
  height: auto;
}

.table {
  width: 85%;
  border-collapse: collapse;
  border-spacing: 0 6vh; /* 行間幅 */
  border-top: 1px solid rgb(149, 149, 149);
  margin-bottom: 6%;
  margin: auto;
}

.th {
  border-bottom: 1px solid rgb(180, 180, 180);
  text-align: center;
  width: 23%;
  height: 9vh;
}
.td {
  border-bottom: 1px solid rgb(180, 180, 180);
  text-align: left;
}

.faileCenter {
  padding: 3vh;
}
