.all {
  display: flex;
  text-align: center;
}

.islandPostBack {
  background-color: rgba(255, 254, 245, 1);
  margin-top: 2%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border-radius: 1%;
  width: 70%;
  border: dashed 0.5vh rgba(138, 121, 98, 1);
  box-shadow: 0 0 0 1vh rgba(250, 248, 242, 1), 0 0 0 2vh rgba(138, 121, 98, 1);
  border-radius: 1vh;
}

.postMessageBack {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
}

.message {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.22);
  border-radius: 7vh;
  background-color: rgba(255, 247, 227, 0.8);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex {
  display: flex;
}

.flex img {
  width: 15vh;
  height: 15vh;
  margin: auto 4vh;
  position: relative;
  border-radius: 50%;
}

.flex .right {
  padding: 0;
}

.flex .username {
  font-weight: bold;
  margin-right: 2vh;
}

.date {
  margin-top: 3vh;
}

.h1 {
  font-weight: bold;
  margin-top: 0;
}

/* 未読の場合のCSS */
.unread {
  font-weight: bold;
}

.unreadCircle {
  display: inline-block;
  padding: 0.2em 0.5em;
  background-color: #fd9dc3;
  border-radius: 1em;
  margin-right: 0.5em;
  font-size: 2vh;
}

.unreadName {
  font-weight: bold;
}

.upper {
  display: flex;
}

.mss {
  margin-top: 0;
  width: 95%;
  text-align: left;
}

.displayButton {
  color: white;
  background-color: rgba(108, 151, 140, 1);
  font-weight: 500;
  width: 13vh;
  margin: 1vh 0;
}

.btn1 {
  height: 7vh;
  width: 36vh;
  border-radius: 3vh;
  margin-left: 10vh;
  font-weight: bold;
  color: rgba(94, 70, 44, 1);
  border: 3px solid rgba(222, 204, 97, 1);
  box-shadow: 0.7vh 0.7vh rgba(189, 174, 83, 1);
  transition: 0.3s ease-in-out;
  background-color: white;
}

.btn1:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
  color: rgba(161, 145, 86, 1);
}

.btn2 {
  height: 7vh;
  width: 36vh;
  border-radius: 3vh;
  font-weight: bold;
  color: rgba(94, 70, 44, 1);
  border: 3px solid rgba(217, 137, 162, 0.9);
  box-shadow: 0.7vh 0.7vh rgba(227, 68, 117, 0.7);
  transition: 0.3s ease-in-out;
  background-color: white;
}

.btn2:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
  color: rgba(118, 85, 112, 0.9);
}
