.flex {
  display: flex;
  text-align: center;
}

.back {
  background-color: rgba(255, 254, 245, 1);
  margin-top: 2%;
  padding-top: 1%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  border-radius: 1%;
  width: 65%;
  margin-bottom: 5vh;
}
.detail {
  width: auto;
  height: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 4% 1vh;
  border: dashed 0.5vh rgba(138, 121, 98, 1);
  box-shadow: 0 0 0 1vh rgba(250, 248, 242, 1), 0 0 0 2vh rgba(138, 121, 98, 1);
  border-radius: 1vh;
}

.editbox {
  text-align: right;
  margin-top: 2%;
}

.btn1 {
  background-color: white;
  width: 24vh;
  margin-top: 15px;
  font-weight: bold;
  border-radius: 10vh;
  color: rgba(94, 70, 44, 1);
  border: 3px solid rgba(255, 182, 112, 1);
  box-shadow: 0.7vh 0.7vh rgba(255, 182, 112, 1);
  transition: 0.3s ease-in-out;
  height: 8vh;
}
.btn1:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
  color: rgba(94, 70, 44, 0.6);
}

.btn2 {
  background-color: white;
  width: 24vh;
  margin-left: 10%;
  margin-top: 10vh;
  font-weight: bold;
  border-radius: 10vh;
  color: rgba(94, 70, 44, 1);
  border: 3px solid #27acd9;
  box-shadow: 0.7vh 0.7vh #27acd9;
  height: 8vh;
  transition: 0.3s ease-in-out;
}
.btn2:hover {
  box-shadow: none;
  transform: translate(5px, 5px);
  color: rgba(94, 70, 44, 0.6);
}

#edit_btn {
  font-weight: bold;
  color: rgba(94, 70, 44, 1);
  border: 3px solid rgba(209, 182, 204, 1);
  box-shadow: 0.7vh 0.7vh rgba(209, 182, 204, 1);
  height: 7vh;
  width: 20vh;
  margin-top: 5vh;
  border-radius: 10vh;
  transition: 0.3s ease-in-out;
  background-color: white;
}

.icon {
  width: 23vh;
  height: 23vh;

  border-radius: 50%; /*サムネイル円型*/
}

/* 以下Eventのみ */
.table {
  width: 90%;
  text-align: center;
  margin: auto;
}
.tbody {
  width: 90%;
}
.th {
  text-align: right;
  width: 20%;
  font-weight: bold;
}
.td {
  width: 70%;
  height: 10vh;
}

.textDetail {
  width: 90%;
  margin: auto;
}

/* すでに住民許可申請を送っている場合 */
.span {
  color: red;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.tagArea {
  width: 90%;
  height: auto;
  margin: auto;
}

.ribbon3 {
  display: inline-block;
  position: relative;
  height: 6vh;
  text-align: center;
  padding: 0.7vh 0;
  margin: 0 1vh;
  background: #d7a31a;
  color: #fff;
  box-sizing: border-box;
}

.ribbon3 h3 {
  padding: 0px 2vh;
  border-top: dashed 0.5vh rgba(255, 255, 255, 0.5);
  border-bottom: dashed 0.5vh rgba(255, 255, 255, 0.5);
  line-height: 3.8vh;
  font-size: 2.5vh;
  margin: 0;
}

.title {
  margin-bottom: 1vh;
}
