.back {
    background-color: rgb(204, 244, 230);
    padding-bottom: 50px;
}

.close_btn {
    width: 20px;
    height: 20px;
    margin: 10px 0 0 100px;
}

.receive {
    background-color: white;
    padding-bottom: 20px;
    margin-bottom: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

.from {
    font-size: 30px;
    margin-left: 150px;
}

.flex img {
    width: 55px;
    height: 55px;
    padding-top:20px;
    margin: 0 0 0 40px;
}

.userName {
    margin: 0 0 0 50px;
    padding-top: 35px;
    font-size: 20px;
}

.receiving_time {
    padding-top: 35px;
    margin: 0 0 0 300px;
}

.text_body {
    text-align: center;
}

.reply {
    /* border: 2px solid black; */
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.reply_btn {
    margin-left: 100px;
    padding-top: 40px;
}

.send_to {
    font-size: 30px;
    margin-left: 60px;
}

.reply_userName {
    margin: 0 0 0 40px;
    padding-top: 36px;
    font-size: 20px;

}

textarea {
    width: 800px;
    height: 400px;
}

#text_area {
    text-align: center;
    padding-bottom: 50px;
}