.App {
  background-image: url("/public/images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ明朝 ProN",
    "Hiragino Mincho ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3",
    "Modern", "Chalkboard", "Chalkboard SE" sans-serif;
  color: rgba(95, 95, 95, 1);
  font-size: 2.5vh;
  min-height: 100vh;
  width: 100%;
}

input {
  font-size: 2.5vh;
  border-radius: 1vh;
  padding-left: 0.5vh;
}

textarea {
  font-size: 2.5vh;
  border-radius: 1vh;
  padding-left: 0.5vh;
  font-family: "ＭＳ Ｐゴシック", "MS PGothic", "ヒラギノ明朝 ProN",
    "Hiragino Mincho ProN", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3",
    "Modern", "Chalkboard", "Chalkboard SE" sans-serif;
}

button {
  font-size: 2.5vh;
  border: none;
  border-radius: 2vh;
  user-select: none;
  cursor: pointer;
  background-color: rgba(220, 158, 108, 1);
  color: white;
  margin-left: 0.5vh;
}
button:hover {
  box-shadow: none;
  transform: translateY(0.5vh);
}
th {
  font-size: 2vh;
}

h2 {
  color: rgba(118, 102, 82, 1);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
